.large-container{padding: 0 60px;}

/*Header*/
	
	header.header.main-header {height: 102px;background-color: #fff;}
	header.header.main-header.sticky {background-color: #fff;}

	.header-left .navbar-brand{padding: 31px 15px 31px 0px;}

	.header a,
	.header li{text-transform: lowercase;}
	.header-left > ul {display: inline-block;margin-top: 31px;border-left: 1px solid #585859;padding-left: 10px;}
	.header-left li {padding-right: 10px;position: relative;}
	.header-left li a.red {position: absolute;left: 0;top: 0;visibility: hidden;opacity: 0; transition:0.2s ease-in-out;-webkit-transition:0.2s ease-in-out;}
	.header-left li a.white {display: none;}
	.header-left li:hover a.red {visibility: visible;opacity: 1;}
	.header-left li:nth-child(2) a.red {top: 5px;left: 1px;}
	.header-left li:nth-child(3) a.red,
	.header-left li:nth-child(1) a.red {top: -2px;left: 1px;}
	.header-left ul.address {position: absolute;top:45px;white-space: nowrap;visibility: hidden;opacity: 0; transition:0.2s ease-in-out;-webkit-transition:0.2s ease-in-out;}
	.header-left li:hover ul.address {visibility: visible;opacity: 1;}
	.header-left ul.address li:first-child:before {content: "";height: 17px;width: 1px;background: #a31924;right: 0;position: absolute;top: 4px;}
	.header-left ul.address a{color:#a31924; }
	
	aside.header-right.pull-right {margin-top: 31px;}
	aside.header-right li{font-size: 25px;padding: 0 12px;float: left;}
	aside.header-right li:last-child{border-left:1px solid #79797b;}

	/*Menu After Showing*/

		.show-menu aside.header-left{position: relative;z-index: 2;}

		.logo-white{display: none;}
		.logo-dark{display: block;}
		.show-menu .logo-white{display: inline-block;}
		.show-menu .logo-dark{display: none;}

		.show-menu .header-left a.red,
		.show-menu .header-left a.dark{display: none;}
		.show-menu .header-left a.white{display: inline-block;}

		.show-menu .header-left ul.address li:first-child:before {background: #fff;}
		.show-menu .header-left ul.address a{color:#fff; }	

		.menu-cross{display: none;}
		.menu-line{display: inline-block;}
		.show-menu .menu-cross{display: inline-block;}
		.show-menu .menu-line{display: none;}

		.show-menu aside.header-right li:last-child,
		.show-menu .header-left > ul{border-left:1px solid #fff;}
		.show-menu aside.header-right li:last-child {z-index: 9;position: relative;}		

		.menu-wrap {position: fixed;z-index: 1;width: 100%;height: 100%;background: #a31924;padding: 0 60px;overflow: hidden;-webkit-transform: translate3d(100%,-100%,0);transform: translate3d(100%,-100%,0);-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;left: 0;top: 0;}
		.menu-wrap ul{margin-top: 200px;}
		.menu-wrap li {line-height: 115px;}
		.menu-wrap a {color: #fff;font-size: 133.33px;transition:0.2s ease-in-out;-webkit-transition:0.2s ease-in-out;letter-spacing: 5px;}
		.menu-wrap a:hover,
		.menu-wrap a:focus,
		.menu-wrap a:active {text-decoration: none;color: #5c5a5e;transition:0.2s ease-in-out;-webkit-transition:0.2s ease-in-out;}
		.show-menu .menu-wrap{-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
		.menu-wrap img.menu-nico {position: absolute;top: 50%;right: 0;margin-top: -165px;visibility: hidden;opacity: 0;transition:0.2s ease-in-out;-webkit-transition:0.2s ease-in-out;}		

	/*Banner*/
	section.banner {box-shadow: 0px 1px 7px 1px #bbb;overflow: hidden;}
	section.banner img{width: 100%;}

	/*Content*/

		main.content{margin-top: 102px;}

		/*About-schmid Home*/
		.about-schmid{position: relative;}
		.about-schmid-img{height: 580px;}
		.about-schmid-img.about-schmid1 {left: 60px;}
		.about-schmid-img img{height: 100%;width: auto;}
		.about-schmid-img {position: absolute;bottom: -50px;}
		.about-schmid-img.about-schmid2 {right: 0;}


		/*Base info*/
		.small-container{max-width: 900px;width: 100%;margin: 0 auto;}
		.content-paragraph {padding: 80px 0 100px;}

		/*About Pink Background*/
		.pink-bg{background-color: #a31924;color:#fff;padding: 20px 0 50px;}
		.pink-bg small,
		.pink-bg p,
		.pink-bg a,
		.pink-bg h2,
		.pink-bg h3{color:#fff;}
		.pink-bg h2,
		.pink-bg h3{text-shadow: 1px 1px 3px #780d1d;}
		.pink-bg .btn{background-color: #fff;border:1px solid #5c5a5e; color:#5c5a5e;}
		.pink-bg .btn:hover{background-color: #5c5a5e;border:1px solid #5c5a5e; color: #fff;}
		.pink-bg li {line-height: 32px;}

		/*About Gray Background*/
		.gray-bg{background-color:#5c5a5e;color:#fff;}
		.gray-bg small,
		.gray-bg p,
		.gray-bg a,
		.gray-bg h2,
		.gray-bg h3{color:#fff;}
		.gray-bg h2,
		.gray-bg h3{text-shadow: 1px 1px 3px #424243;}
		.gray-bg .btn{background-color: #a31924;border:1px solid #fff; color:#fff;}
		.gray-bg .btn:hover{background-color: #fff;border:1px solid #fff; color: #a31924;}

		/*About Gray Background*/
		.white-bg .btn{background-color: #a31924;border:1px solid #a31924; color:#fff;}
		.white-bg .btn:hover{background-color: #5c5a5e;border:1px solid #5c5a5e; color: #fff;}
		
		/*About Small Heading*/
		h2 small,
		h3 small{display: block; text-transform: lowercase;}	
		h2 small{font-size: 24.96px;letter-spacing: 2px;text-shadow: none;}
	 	h3 small{font-size: 16.67px;letter-spacing: 1px;text-shadow: none;}

		/*Base Padding*/
		.pink-bg,
		.gray-bg,
		.white-bg{padding: 20px 0 50px;}

		/*Base Margin*/
		.m-0{margin: 0;	}
		.m-20{margin: 20px 0;}
		.m-30{margin: 30px 0;}
		.m-40{margin: 40px 0;}
		.m-50{margin: 50px 0;}

		/*Owl Carousel*/		
		.owl-theme .owl-controls .owl-buttons div.owl-prev{text-indent: -99999px;background: url("../images/owl-prev.png") no-repeat;width: 25px;height: 55px;background-position: left bottom;left: -150px;}
		.owl-theme .owl-controls .owl-buttons div.owl-next{text-indent: -99999px;background: url("../images/owl-next.png") no-repeat;width: 25px;height: 55px;background-position: left bottom;right: -150px;}
		#home-slider.owl-theme .owl-controls .owl-buttons div.owl-prev{background: url("../images/home-owl-prev.png") no-repeat;left: 15px;background-position: left bottom;}
		#home-slider.owl-theme .owl-controls .owl-buttons div.owl-next{background: url("../images/home-owl-next.png") no-repeat;right: 15px;background-position: left bottom;}
		#home-slider.owl-theme .owl-controls{margin-top: 0;}
	    .owl-theme .owl-controls .owl-buttons div.owl-next:hover,
	    .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
	    #home-slider.owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
	    #home-slider.owl-theme .owl-controls .owl-buttons div.owl-next:hover{background-position: 0px 5px;}

	    	/*Facts*/
			span.facts-number.counter {padding: 65px 0;display: block;font-size: 133.67px;text-align: center;border-radius: 50%;background: #fff;height: 220px;width: 220px;line-height: 110px;color: #5c5a5e;}
			span.facts-name{font-size: 25px;padding-top: 70px;display: block;}
			span.facts-name strong{display: block;}

			/*Heads*/
			.heads-img{height: 435px;width: 435px;background: #fff;display: block;border-radius: 50%;position: relative;overflow: hidden;}
			.head-0,.head-1{transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
			.owl-item:hover .head-0{visibility: hidden;opacity: 0;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
			.owl-item:hover .head-1{position: absolute;left: 0px;top: 0;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
			span.heads-text{padding: 150px 80px 30px;display: block;}
			.heads-text strong{font-size: 25px;display: block;}
			.heads-address ul{margin-top: 50px;background: url("../images/heads-ul-bg.png") no-repeat right center;padding: 15px 35px 15px 0;}
			.heads-address ul li:last-child{border-left:1px solid #fff;}


		/*Site Detail View*/
		
		.site-detail .banner{position: relative;}
		.site-detail .banner img {-webkit-filter: blur(10px);-moz-filter: blur(10px);-ms-filter: blur(10px);-o-filter: blur(10px);filter: blur(10px);}
		.site-detail .banner .banner-logo{position: absolute;left: 0;right: 0;top: 50%;text-align: center;margin-top: -35px;}
		.site-detail .banner .banner-logo img{display: inline-block;-webkit-filter: blur(0px);-moz-filter: blur(0px);-ms-filter: blur(0px);-o-filter: blur(0px);filter: blur(0px);width: auto;}

		.site-detail ul{ list-style-image: url("../images/list-detail.png");padding-left: 20px;}
		.site-detail ul li{padding-left: 10px;line-height: 30px;word-wrap: break-word;}

			/*Smartphone*/
			.site-detail .smartphone .item img{display: inline-block;}

			/*Quote*/
			.site-detail .quote{margin-top: 50px;}
			.site-detail .quote p{font-size: 25px;line-height: 30px;}
			.site-detail .quote-auother{border-radius: 50%;}

			/*Desktop-view*/
			.site-detail .detail-desktop-grid{overflow: hidden;}
			.site-detail .detail-desktop-grid-arrow {position: absolute;top: 0;left: 15px;right: 15px;bottom: 0;background-color: #a31924;text-align: center;-webkit-transform: translate3d(100%,-100%,0);transform: translate3d(100%,-100%,0);-webkit-transition: -webkit-transform 0.5s;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;visibility: hidden;opacity: 0;}
			.site-detail .detail-desktop-grid:hover .detail-desktop-grid-arrow{visibility: visible;opacity: 1;-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
			.site-detail .detail-desktop-grid-arrow img{display: inline-block;position: absolute;top: 50%;margin-top: -37px;left: 50%;margin-left: -25px;}

		
		/*Clients Logo*/
		.client-box {display: table;height: 218px;}
		.client-box-inner{vertical-align: middle;display: table-cell;position: relative;}
		.client-box-inner img{display: inline-block;max-height: 100%;}
    	.client-box-inner img.client-new{visibility: hidden;opacity: 0;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;position: absolute;}
    	.client-box-inner:hover img.client-new{visibility: visible;opacity: 1;}
    	.client-box-inner img.client-gray{visibility: visible;opacity: 1; transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
    	.client-box-inner:hover img.client-gray{visibility: hidden;opacity: 0;} 
    	.client-logo .col-sm-4{border-bottom: 1px solid #e9e9e9;overflow: hidden;}

    	/*Team*/
		.team-grid img{width: 100%;height: auto;}

		/*Work*/
		.work-box{margin-bottom: 30px;}
		.work-box a{text-decoration: none;}
		.work-box .work-address{background-color: #fff;padding: 20px 15px;}
		.work-large{font-size: 25px;color:#5c5a5e;}
		.work-small{color:#a31924;display: block;} 
		
			/*Hide work*/
			.work-box:hover .work-hidden {visibility: visible;opacity: 1;}
			.work-box:hover .work-large,
			.work-box:hover .work-small{position: relative;color:#fff;z-index: 1;}
			.work-hidden {background-color: #a31924;top: 0;position: absolute;left: 15px;right: 15px;bottom: 0;visibility: hidden;opacity: 0;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
			.work-hidden-img{top: 35%;position: absolute;left: 15px;right: 15px;}
			.work-hidden img{display: inline-block;}

	/*Expertise*/
		.expertise-chart{position: relative;width: 740px;height: 740px;margin: 250px auto;}
		.pi-chart-inner{position: relative;height: 750px;width: 750px;overflow: hidden;border-radius: 100%;z-index: 5;}
		.pi-box {position: absolute;}
		.pi-box.pi-1 {left: 7px;top: 7px;}
		.pi-1-scal {left: 58px;top: -130px;height: 734px;width: 348px;z-index: 1;transform: rotate(44deg);-webkit-transform: rotate(44deg);-moz-transform: rotate(44deg);border-radius: 450px 0 0 450px;}
		.pi-box.pi-2 {top: 120px;right: 9px;}
		.pi-box.pi-2-scal {right: -77px;height: 358px;width: 353px;border-radius: 0 353px 0 0;transform: rotate(44deg);top: 189px;z-index: 1;}
		.pi-box.pi-3 {right: 130px;bottom: 10px;}
		.pi-box.pi-3-scal {height: 332px;width: 230px;bottom: -117px;right: 119px;z-index: 1;transform: skew(0deg,46deg);cursor: pointer;}
		.pi-box.pi-4 {left: 130px;bottom: 10px;}
		.pi-box.pi-4-scal {height: 332px;width: 230px;bottom: -117px;left: 122px;z-index: 1;transform: skew(0deg,-46deg);cursor: pointer;}
		.pi-box.pi-logo {left: 50%;top: 50%;margin-top: -58px;margin-left: -48px;}
		.desc-hide{visibility: hidden;opacity: 0;transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;}
		.desc-hide li:before {content: ".";font-size: 35px;line-height: 0;top: 5px;position: absolute;left: 0;}
		.desc-hide li {position: relative;padding-left: 15px;}
		.desc-hide.show-desc{visibility: visible;opacity: 1;}
		.pi-box.desc-hide.pi-1-desc{top:-170px;width: 480px;left: -200px;}
		.pi-box.desc-hide.pi-1-desc:after {content: "";top: 22px;bottom: 0;right: 0;border-right: 1px solid #585859;position: absolute;}
		.pi-box.desc-hide.pi-1-desc:before {content: "";position: absolute;width: 100%;border-bottom: 1px solid #585859;top: 22px;}
		.pi-box.desc-hide.pi-1-desc h4,
		.pi-box.desc-hide.pi-4-desc h4 {position: relative;background: #fff;display: inline-block;padding-right: 20px;}
		.pi-box.desc-hide h4 span{color: #a31924;}
		.pi-box.desc-hide.pi-2-desc {top: -170px;width: 420px;right: -100px;}
		.pi-box.desc-hide.pi-2-desc:before {height: 360px;content: "";top: 170px;right: 50px;border-right: 1px solid #a31228;position: absolute;}
		.pi-box.desc-hide.pi-2-desc:after {content: "";position: absolute;top: 530px;right: 50px;border-bottom: 1px solid #a31228;width: 100px;}
		.pi-box.desc-hide.pi-3-desc:before {top: -130px;content: "";position: absolute;width: 160px;border-bottom: 1px solid #9d9d9c;left: 140px;}
		.pi-box.desc-hide.pi-3-desc {bottom: -250px;right: -60px;width: 400px;}
		.pi-box.desc-hide.pi-3-desc:after {content: "";border-right: 1px solid #9d9d9c;position: absolute;top: -130px;left: 300px;height: 160px;}
		.pi-box.desc-hide.pi-4-desc {bottom: -250px;width: 420px;left: -200px;}
		.pi-box.desc-hide.pi-4-desc:before {content: "";position: absolute;left: 0;right: 0;border-bottom: 1px solid #dadada;top: 23px;}
		.pi-box.desc-hide.pi-4-desc:after {content: "";right: 0;top: -130px;height: 155px;border-right: 1px solid #dadada;position: absolute;}
		.pi-box{transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;cursor:pointer;}
		.pi-box.pi-1.pi-1-left{left: 0px;top: 0px;}
		.pi-box.pi-2.pi-2-left{right: 0px;}
		.pi-box.pi-3.pi-3-left,
		.pi-box.pi-4.pi-4-left{bottom: 0px;}
	
	/*Map*/
	.cbQuickGoogleMap {border-bottom: 20px solid #a31924;}
	.gm-style .gm-style-iw {width: auto !important;right: 0;}
	.gm-style-iw div {overflow: auto;max-height: 500px !important;width: 400px;}
	#map-info{font-size: 16.67px;}
	div#map-info img:first-child {position: absolute;right: 2px;top: 80px;}
	#map-info h4 {font-size: 16.67px;font-weight: normal;color: #a31924;}

	/*Form*/
	textarea{resize:none;}
		/*Error Message*/
		.parsley-errors-list {list-style: none;text-align: left;padding: 0;}

	/*Footer*/
		.footer{padding: 15px 0 10px;}
		.footer a{color:#5c5a5e;}
		.footer-left li{border-right: 1px solid;}
		.footer-left li:last-child{border:none;	}
		.footer .social li a{transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;height: 44px;width: 44px;display: block;background-image: url(../images/social.png);text-indent: 99px;overflow: hidden;}
		.footer .social li a:hover {background-position-y: 47px;}
		a.google {background-position: -60px 0;}
		a.twitter {background-position: -118px 0;}
		a.youtube {background-position: -180px 0;}


/*Media*/


@media(max-width:1280px){
	.large-container,
	.menu-wrap{padding: 0 15px;}
	.about-schmid-img.about-schmid1{left: 15px;}

	/*menu*/
	.menu-wrap a{font-size: 90px;}
	h2{margin-bottom: 50px;font-size: 90px;line-height: 90px;}
	
	/*Hide work*/
	.work-hidden-img {top: 5%;}

	
	/*Owl*/
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: 15px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 15px;}
	
	/*Heads*/
		.heads-img {height: 290px;width: 290px;}
		span.heads-text {padding: 50px;display: block;}
	
	/*About-schmid Home*/
	.about-schmid-img {height: 220px;}

}
@media (min-width:1281px) and (max-width:1750px){
	.about-schmid-img {height: 310px;}
}
@media (max-width: 767px){
	h2 {margin-bottom: 20px;font-size: 40px;line-height: 40px;letter-spacing: 4px;}
	h2 small{font-size: 20px;}
	h3{font-size: 30px;margin-bottom: 20px;}
	.menu-wrap {-ms-transform: translateY(-100%);-webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);-ms-transform: translateX(100%);-webkit-transform: translateX(100%);-moz-transform: translateX(100%);-o-transform: translateX(100%);transform: translateX(100%);-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;height: auto;max-height: 100%;}
	.menu-wrap ul {margin-top: 102px;}
	.menu-wrap li {line-height: normal;}
	.menu-wrap a {font-size: 25px;}
	.client-logo .col-sm-4.col-xs-6{width: 100%;}
	.client-box {height: 168px;}
	.btn {padding: 8px 35px;}
	.form-control{padding-left: 15px;padding-right: 15px;}

	/*Detail-Banner-Logo*/
	.site-detail .banner .banner-logo img{width: 200px;}

	/*Owl-facts*/
	.facts .col-xs-4 {width: 100%;margin: 10px 0px;text-align: center;}
	.facts .item img{display: inline-block;}
	.facts span.facts-name{padding-top: 0;}
	.facts span.facts-number.counter {display: inline-block;font-size: 40px;height: 150px;width: 150px;line-height: 30px;}

	/*Owl-heads*/
	.heads .col-xs-6{width: 100%;text-align: center;}
	.heads-img {height: 190px;width: 190px;}
	.heads .heads-img{display: inline-block;}
	.heads span.heads-text {padding: 20px 50px;}
	.heads-text{text-align: left;}
	
	/*Detail-view*/
	.detail-desktop-grid{margin-bottom: 30px;}
		/*Quote*/
		.site-detail .quote{margin-top: 0;}
		.site-detail .quote p{font-size: 20px;line-height: 25px;}	
}
@media (min-width: 768px) and (max-width:1024px){
	.client-box {height: 158px;}
}
@media (min-width: 1025px){
	.menu-wrap li a:hover ~ img {visibility: visible;opacity: 1;}
}
@media (min-width: 768px){
	.show-menu aside.header-right li:last-child:hover {background-image: url("../images/menu-cross-big.png");background-repeat: no-repeat;background-position: 8px 1px;}
	.client-box-inner:hover:after {right: -20px;left: 100%;transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;}
	.client-box-inner:after {width: 15px;content: "";position: absolute;left: -20px;top: 0;bottom: 0;background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;transition:0.5s ease-in-out;-webkit-transition:0.5s ease-in-out;
	        transform: rotate(-32deg);-weblit-transform: rotate(-32deg);}
}
@media (max-width: 555px){	
	aside.header-right.pull-right {position: fixed;right: 15px;top: 0;z-index: 3;}
	aside.header-right li:last-child,
	.show-menu aside.header-right li:last-child{border-left: none;}
	aside.header-right li:first-child{display: none;}	
	.work-hidden-img {top: 5%;}
	.about-schmid-img{display: none;}
}
@media (max-width: 480px){
	header.header.main-header{height: 65px;}
	.header-left > ul{display: none;}
	.header-left .navbar-brand{padding-top: 15px;}
	aside.header-right.pull-right,
	.header-left > ul{margin-top: 15px;}
	.site-detail .detail-desktop-grid,
	.site-detail .detail-desktop-grid a > img{width: 100%;}
	main.content,
	.menu-wrap ul{margin-top: 65px;}
	footer.footer{font-size: 14px;}
}