{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name='Default'/>

<f:section name='main'>
	<f:if condition="{video}">

					<div class="videolist row">

						<f:for each="{video}" as="videolistInner" iteration="iterator">
							<div class="col-sm-4 col-xs-6 col-md-4">
											
								<a href="{videolistInner.uploadVideo}" class="html5lightbox">
								
								<f:if condition="{videolistInner.backgroundImage.uid}">
								<f:then>
									<f:image src="{videolistInner.backgroundImage.uid}" alt="{videolist.alttag}" treatIdAsReference="1" class="img-responsive" width="300c" height="250c" />
									</f:then>
									<f:else>
										<f:image src="uploads/tx_videos/{bgimgs}" class="img-responsive" width="300c" height="250c" />
										
									</f:else>
								</f:if>
								
								<span class = "video">
									<f:image src="EXT:video/Resources/Public/Images/video-play.png" alt="{videolistInner.alttag}" class="img-responsive video-play"  width="124c" height="124c" />
									</span>
								</a>
							</div>
						</f:for>
					</div>

	</f:if>
</f:section>
