{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:section name="Configuration">
    <v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
    <flux:form id="kontakt" label="Kontakt Detail" description="Kontakt detail Element" icon="" options="{Fluidcontent: {sorting: 107},group: 'Custom Elements'}">
      <flux:form.sheet name="options" label="Options">
        <flux:field.input name="address" label="Address" />
        <flux:field.input name="phn1" label="Phone No 1" />
        <flux:field.input name="phn2" label="Phone No 2" />
        <flux:field.text name="email" label="Email Id" enableRichText="1"  />
        <flux:field.text name="content1" label="Content 1" enableRichText="1" />      
        <flux:field.text name="content2" label="Content 2" enableRichText="1" />
         
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main">
      <div class="contect-detail">
                <address>
                        <span class="fa fa-map-marker"></span>
                           <span>{address}</span>
                        </address>
                        <address>
                            <span class="fa fa-phone"></span>
                            <span>{phn1}</span>
                        </address>
                        <address>
                            <span class="fa fa-print"></span>
                            <span>{phn2}</span>
                        </address>
                        <address class="email">
                            <span class="fa fa-envelope"></span>
                            <span> <f:format.html>{email}</f:format.html></span>
                        </address>
                        <address class="desc">
                            <span><f:format.html>{content1}</f:format.html></span>
                        </address>
      <address class="desc"> <f:format.html><span>{content2}</span></f:format.html></address>

      </div>
  </f:section>
</div>
