{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:section name="Configuration">
    <v:var.set name="locallangPath" value="{v:var.typoscript(path: 'lib.locallangPath.value')}" />
    <flux:form id="sliderhome" label="Home slider" description="Home Slider Element" icon="" options="{Fluidcontent: {sorting: 101},group: 'Custom Elements'}">
      <flux:form.sheet name="options" label="Options">
        <flux:form.section name="sliders" label="Home Page Slider">
          <flux:form.object name="slider" label="Add New Slide">
            <flux:field.file name="picture" uploadFolder="uploads/slider_image/" label="Upload Image" allowed="jpg, jpeg, png, gif"  showThumbnails="1" />
            <flux:field.input name="picture_alt" label="Alternative Text" />
            </flux:form.object>
        </flux:form.section>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main">
      
       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
           
            <ol class="carousel-indicators">
                <f:for each="{sliders}" as="slider" iteration="iteration">
                    <li data-target="#carousel-example-generic" data-slide-to="{iteration.index}"  class="<f:if condition='{iteration.index} == 0'>active</f:if>"></li>
                </f:for>
                </ol>
           
                <div class="carousel-inner" role="listbox">
                    <f:if condition="{sliders}">
                        <f:for each="{sliders}" as="slider" iteration="iteration">
                    <div class="item <f:if condition='{iteration.index} == 0'>active</f:if>">
                         <f:if condition="{slider.slider.picture}">
                          <f:image src="uploads/slider_image/{slider.slider.picture}"  alt="{slider.slider.picture_alt}" width="1903c" height="935c" />
                         </f:if>
                    </div>
               
                        </f:for>
                    </f:if>
                </div>
         
                
                  
                 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              
             
          
           
            </div>
      
  </f:section>
</div>
