<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="Partner" label="Partner" description="Partner Element" icon="" options="{Fluidcontent: {sorting: 103},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
            <flux:field.select name="tg1" label="Background"  items="{1: 'pink-bg', 2: 'white-bg',3:'gray-bg'}"></flux:field.select>
            <flux:field.input name="Text" label="Title"/>
            <flux:field.input name="Text2" label="Title"/>
          <flux:form.section name="partner" label="partner">
          <flux:form.object name="Partner" label="Add New Slide">
            <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"/>
            <flux:field.file name="picture2" uploadFolder="uploads/slider_images/" label="Upload Image" allowed="jpg, jpeg, png, gif"/>
           </flux:form.object>
        </flux:form.section>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 
    <div class="<f:if condition='{tg1} == 1'>pink-bg</f:if><f:if condition='{tg1} == 2'>white-bg</f:if><f:if condition='{tg1} == 3'>gray-bg</f:if>">
          <section class="large-container clearfix base-padding client-logo">
            <h2>{Text} 
                <small>{Text2}</small>
            </h2>
            <div class="container">
            <div class="row_1 clearfix">

            <f:if condition="{partner}">
                <f:for each="{partner}" as="partners" iteration="iteration">
                <f:if condition='{iteration.cycle} >1'>
                 <f:if condition='<v:math.modulo a="{iteration.cycle}" b="3" />==1'>
                    </div>
                    <div class="row_{iteration.cycle} clearfix">
                 </f:if>
                 </f:if>
              <div class="col-sm-4 col-xs-6 client-box text-center">
                <div class="client-box-inner">
                   <f:if condition="{partners.Partner.picture}">
                   <f:image src="uploads/slider_images/{partners.Partner.picture}"  class="img-responsive client-new"/>
                   </f:if>
                   <f:if condition="{partners.Partner.picture2}">
                   <f:image src="uploads/slider_images/{partners.Partner.picture2}"  class="img-responsive client-gray"/>
                    </f:if>
                </div>
              </div>

            </f:for>
            </f:if>
                          </div>
            </div>
          </section>
      </div>
         
           
  </f:section>
</div>
