<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="Twocolumntext" label="Two Column Text" description="Two Column Text Element" icon="" options="{Fluidcontent: {sorting: 103},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
            <flux:field.select name="tg1" label="Background"  items="{1: 'pink-bg', 2: 'white-bg',3:'gray-bg'}"></flux:field.select>
            <flux:field.input name="Text" label="Title"/>
            <flux:field.input name="Text2" label="Title"/>
            <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Background Image" allowed="jpg, jpeg, png, gif"/>
            <flux:field.file name="picture2" uploadFolder="uploads/slider_images/" label="Upload Background Image" allowed="jpg, jpeg, png, gif"/>
            <flux:field.text name="lcontent" label="Left Content" enableRichText="1" />      
            <flux:field.text name="rcontent" label="Right Content" enableRichText="1" />
            <flux:field.input name="Text3" label="Title for button"/>
            <flux:field.input name="link" label="Link">
            <flux:wizard.link />
        </flux:field.input>
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 

          <div class="<f:if condition='{tg1} == 1'>pink-bg</f:if><f:if condition='{tg1} == 2'>white-bg</f:if><f:if condition='{tg1} == 3'>gray-bg</f:if>">
          <section class="large-container clearfix about-schmid">
            <h2>{Text}
                <small>{Text2}</small>
            </h2>
            <f:if condition='{picture}'>
            <div class="about-schmid-img about-schmid1">
              <f:image src="uploads/slider_images/{picture}" class="img-responsive client-new"/>
            </div>
            </f:if>
            <f:if condition='{lcontent}'>
            <div class="small-container">
              <div class="row">
                <div class="col-sm-6">
                    <f:format.html>{lcontent}</f:format.html>
                </div>
                <div class="col-sm-6">
                    <f:format.html>{rcontent}</f:format.html>
                </div>
                <f:if condition='{link}'>
                <div class="col-sm-12 text-center clearfix">
                  <f:link.page pageUid="{link}" class="btn m-50">{Text3}</f:link.page>
                </div>
                </f:if>
              </div>
            </div>
            </f:if>
            <f:if condition='{picture2}'>
            <div class="about-schmid-img about-schmid2">
                         <f:image src="uploads/slider_images/{picture2}" class="img-responsive client-new"/>
            </div>
            </f:if>
          </section>
        </div>

  </f:section>
</div>
