<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="Content" />
  <f:section name="Configuration">
    <flux:form id="headslider" label="Heads Slider" description="Heads Slider Element" icon="" options="{Fluidcontent: {sorting: 105},group: 'Custom elements'}">
      <flux:form.sheet name="options" label="Options">
       <flux:field.select name="tg1" label="Background"  items="{1: 'pink-bg', 2: 'white-bg',3:'gray-bg'}"></flux:field.select>
      <flux:field.input name="Text" label="Title"/>
            <flux:field.input name="Text2" label="Title"/>
        <flux:form.section name="Head" label="slider">
          <flux:form.object name="Heads" label="Add New Slide">
                <flux:field.file name="picture" uploadFolder="uploads/slider_images/" label="Upload Logo Image" allowed="jpg, jpeg, png, gif"/>
                <flux:field.file name="picture2" uploadFolder="uploads/slider_images/" label="Upload Logo Image" allowed="jpg, jpeg, png, gif"/>
                <flux:field.input name="Text3" label="Main text"/>
                <flux:field.input name="Text4" label="Sub text"/>
                <flux:field.input name="Text5" label="Text"/>
                <flux:field.input name="link" label="Link">
            <flux:wizard.link />
        </flux:field.input>
        <flux:field.input name="Text6" label="Text"/>
                <flux:field.input name="link2" label="Link">
            <flux:wizard.link />
        </flux:field.input>
          </flux:form.object>
        </flux:form.section>
		
      </flux:form.sheet>
    </flux:form>
  </f:section>
  <f:section name="Main"> 

   <div class="<f:if condition='{tg1} == 1'>pink-bg</f:if><f:if condition='{tg1} == 2'>white-bg</f:if><f:if condition='{tg1} == 3'>gray-bg</f:if> clearfix">
          <section class="large-container clearfix">
            <h2>{Text}
                <small>{Text2}</small>
            </h2>
            <div class="small-container">
              <div class="row">
                <div id="heads" class="owl-carousel owl-theme heads">
              <f:if condition="{Head}">
                <f:for each="{Head}" as="heads" iteration="iteration">
                  <div class="item">
                    <div class="col-xs-6">
                      <span class="heads-img">
                      <f:if condition="{heads.Heads.picture}">
                      <f:image src="uploads/slider_images/{heads.Heads.picture}" class="img-responsive head-0"/></f:if>
                      <f:if condition="{heads.Heads.picture2}">
                      <f:image src="uploads/slider_images/{heads.Heads.picture2}" class="img-responsive head-1"/></f:if>
                        
                      </span>
                    </div>
                    <div class="col-xs-6 text-left">
                      <span class="heads-text text-lowercase">
                        <strong>{heads.Heads.Text3}</strong>
                        <p>{heads.Heads.Text4}</p>
                        <div class="heads-address text-right text-lowercase">
                          <ul class="list-unstyled list-inline">
                          <li><f:link.page pageUid="{heads.Heads.link}">{heads.Heads.Text5}</f:link.page></li>
                          <li><f:link.page pageUid="{heads.Heads.link2}">{heads.Heads.Text6}</f:link.page></li>
                            
                          </ul>
                        </div>
                      </span>
                    </div>
                  </div>
                  </f:for>
                  </f:if>

                </div>
              </div>
            </div>
          </section>
        </div>
      </f:section>
</div>
