/* ==========================================================================
   Created By Ashik shah Webofficeindia...
   ========================================================================== */

.banner .img-responsive { width: 100%; }
.shadow { box-shadow: -807px -182px 332px -252px rgba(255, 255, 255, 0.9) inset; height: 100%; position: absolute; top: 0; width: 100%; }
.start.banner { margin-bottom: 10px; }
.inner-header { height: 138px; position: relative; }
.banner { position: relative; margin-bottom: 10px; }
.banner-author { bottom: 150px; position: absolute; text-align: center; width: 500px; }
.banner-author h2 { color: #bd1e35; font-size: 40px; font-weight: normal; margin-bottom: 20px; }
.banner-author h3 { font-size: 24px; color: #9d9d9e; font-weight: normal; }
nav.start-fix { position: absolute; z-index: 999999999; top: 0; left: 100px; right: 100px; }
.list-unstyled.top-small-menu { margin: 8px 30px 8px 0; text-align: right; }
.list-unstyled.top-small-menu li { border-right: 1px solid #bd1e35; display: inline-block; line-height: 10px; }
.list-unstyled.top-small-menu li:last-child { border-right: 0; }
.list-unstyled.top-small-menu a { color: #bd1e35; font-size: 12px; padding: 0 5px; }
.list-unstyled.top-small-menu a.active { font-weight: 600; }
.border { border-bottom: 1px solid #a1a0a1; border-top: 1px solid #dc8793; height: 7px; }
.page-header h2 { font-size: 32px; font-weight: normal; }
.page-header h3 { font-size: 22px; font-weight: normal; letter-spacing: 3px; word-spacing: 5px; }
.strip { border-top: 1px solid #e5a5ae; margin: 0 auto 3px; width: 345px; }
.small-container { margin: 0 auto; width: 970px; }
.small-container p { font-size: 16px; font-weight: lighter; line-height: 23px; margin-bottom: 25px; text-align: justify; }
.small-container .right-content img { margin-bottom: 35px; }
.redirect { position: relative; margin-bottom: 70px; }
.redirect a.btn { border-color: #a1a0a1; font-size: 20px; padding: 15px 50px; width: 200px; z-index: 1; height: 65px; }
a.btn:hover .hov { line-height: 23px; white-space: normal; word-wrap: break-word; }
a.btn:hover { padding: 10px; }
a.btn:hover .default,
a.btn .hov { display: none; }
a.btn .default,
a.btn:hover .hov { display: inline-block; }
.inline { border-top: 1px solid #a1a0a1; height: 1px; position: relative; top: -31px; width: 100%; z-index: -1; }
.col.text-center { float: left; width: 100%; position: relative; overflow: hidden; }
.col.text-center a:hover,
.col.text-center a:focus { text-decoration: none; }
.img-width::before { border-top: 1px solid #fff; content: ""; height: 1px; position: absolute; right: 10px; top: 72px; width: 70px; }
.img-width { margin: 0 auto; width: 60px; }
.img-width::after { border-top: 1px solid #fff; content: ""; height: 1px; left: 10px; position: absolute; top: 72px; width: 70px; }
/*item hover*/
.default-inner { position: relative; }
.item-hover .img-responsive { width: auto !important; display: inline !important; margin-top: 40px; margin-bottom: 15px; }
.item-hover { position: absolute; top: -100%; -webkit-transform: scale(1); transition: all 0.7s ease-in-out 0s; -webkit-transition: all 0.7s ease-in-out 0s; width: 100%; }
.item:hover .item-hover { top: 0; height: 100%; -webkit-transform: scale(1); transition: all 0.7s ease-in-out 0s; -webkit-transition: all 0.7s ease-in-out 0s; background: none repeat scroll 0 0 #bd1e35; }
.small-desc { color: #fff; display: block; font-size: 19px; line-height: 19px; }
.desc .small-desc:last-child { font-weight: 600; word-wrap: break-word; }
.item-hover .border { display: none; }
.name { color: #bd1e35; display: block; font-size: 18px; margin: 10px 5px 0; }
.desc { color: #4e4d4f; font-size: 16px; }
.map { margin-top: 5px; }
.footer.clearfix { padding: 18px 0; }
.footer span { color: #848486; display: inline-block; padding: 10px 0; }
.footer .navbar-right { margin-right: 0; }
.footer .nav li { float: left; }
.footer .nav li a { color: #848486; }
.footer .nav li a:hover { color: #fff; }
/*arrow*/
.glyphicon.glyphicon-chevron-left { background-image: url("../img/arrow-left.png"); background-repeat: no-repeat; }
.glyphicon.glyphicon-chevron-right { background-image: url("../img/arrow-right.png"); background-repeat: no-repeat; }
.glyphicon.glyphicon-chevron-left:hover { background-image: url("../img/arrow-left-hov.png"); background-repeat: no-repeat; }
.glyphicon.glyphicon-chevron-right:hover { background-image: url("../img/arrow-right-hov.png"); background-repeat: no-repeat; }
.pdg-nn { padding: 0; }
/*contect us*/
.contect-detail { margin-bottom: 30px; }
.contect-detail textarea { resize: none; }
.contect-detail span,
.news .news-list-view .teaser-text p,
.news .news-list-view .teaser-text a { font-size: 16px; }
.contect-detail ul { color: red; list-style: outside none none; margin: 5px 0; padding: 0; }
address { transition: all 250ms linear 0.1s; -webkit-transition: all 250ms linear 0.1s; -moz-transition: all 250ms linear 0.1s; -o-transition: all 250ms linear 0.1s; -ms-transition: all 250ms linear 0.1s; }
address:hover { padding-left: 3px; transition: all 250ms linear 0.1s; -webkit-transition: all 250ms linear 0.1s; -moz-transition: all 250ms linear 0.1s; -o-transition: all 250ms linear 0.1s; -ms-transition: all 250ms linear 0.1s; }
address span.fa { font-size: 20px; margin-right: 10px; color: #bd1e35; cursor: pointer; }
address.desc:hover { padding-left: 0; }
.hide-caret { cursor: pointer; position: absolute; z-index: 9999999; width: 100%; }
.main-menu ul .hide-caret { display: none; }
.main-menu.stick ul .hide-caret { display: block; height: 0px; z-index: 9999999; } 
.stick ul li.open > a { font-weight: bold; }
/*news*/
.news .news-list-view strong.text-uppercase { float: left; font-size: 20px; font-weight: normal; margin-top: 15px; width: 100%; color: #bd1e35; }
.news_list .news-img-wrap { float: left; margin-right: 15px; }
.news_list { margin-bottom: 15px; text-align: left; }
.news_list a.more { float: right; }
.news_list .header h3,
.news-single .header h3 { font-size: 24px; font-weight: normal; letter-spacing: 1px; margin-bottom: 10px; word-spacing: 3px; }
.news-single span.teaser { display: inline-block; font-size: 14px; font-style: italic; font-weight: normal; margin-bottom: 10px; text-align: justify; }
.team.clearfix { margin-bottom: 30px; }
.ak { display: none; }
 @media only screen and (min-width:768px) {
/*.main-menu .dropdown-menu { min-width: 820px; padding-left: 10px; padding-right: 10px; }*/
.main-menu .dropdown-menu { min-width: 820px; padding-left: 0px; padding-right: 0px; }
.main-menu li:first-child { margin-left: 0; }
.main-menu li:last-child { margin-right: 0; }
.main-menu li { margin: 0 2px; }
.main-menu .dropdown-menu > li:first-child { border-left: 0; }
/*.main-menu .dropdown-menu > li { border-left: 1px solid #bd1e35; float: left; height: 197px; padding: 15px; position: relative; text-align: center; width: 20%; margin: 0; }*/
.main-menu .dropdown-menu > li { border-left: 1px solid #bd1e35; float: left; height: 240px; padding: 15px; position: relative; text-align: center; width: 25%; margin: 0; }
.main-menu .menu-img { bottom: 15px; left: 15px; position: absolute; right: 15px; }
.main-menu .menu-img > img { width: 100%;}
.main-menu .dropdown-menu li a { white-space: normal; padding: 0; color: #bd1e35; }
.main-menu .nav > li,
.main-menu .dropdown { position: static }
.main-menu .navbar-right { position: relative; }
/*stick*/
.main-menu .nav > li > a { padding: 10px 25px; }
.main-menu.stick { position: fixed; right: 0px; }
.main-menu.stick .navbar-toggle { display: block; margin-right: 0; padding-bottom:6px; padding-top:6px; }
.main-menu.stick .navbar-header { float: right; }
.main-menu.stick .collapse { display: none !important; visibility: hidden !important; }
.navbar-collapse.collapse.in { display: block !important; visibility: visible !important; }
.main-menu.stick .navbar-nav > li { /*float: none;*/ }
.main-menu.stick .navbar-right { position: absolute; right: 77px; top: 8px; }
.main-menu.stick .navbar-toggle span.text-uppercase { border-bottom: 1px solid #fff; border-top: 1px solid #fff; display: inline-block; padding: 6px 5px; }
.main-menu.stick .navbar-right { padding:7px 0px; background: none repeat scroll 0 0 #bd1e35; border: medium none; text-align: center; width:565px; }
.main-menu.stick .navbar-right li { height: auto; position: relative; border-left: 0; padding: 0; text-align: center; /*width: 100%;*/ margin: 0; }
.main-menu.stick .dropdown-menu li{ width: 100%; }
.main-menu.stick .navbar-right li a { border-bottom: 1px solid;border-top: 1px solid; color: #fff !important; margin: 0; padding-bottom: 6px; padding-top: 6px; font-weight: normal; }
.main-menu.stick .navbar-right ul.dropdown-menu li a { border-bottom:1px solid #fff; border-top:none;}
.main-menu.stick ul.navbar-right li:first-child { margin-left: 5px; }
.main-menu.stick .navbar-right li .dropdown-menu .active a,
.stick ul.navbar-nav li.open > a,
.main-menu .dropdown-menu > li:hover a { font-weight: bold; }
.main-menu.stick .navbar-right li:last-child a { /*border-bottom: none;*/ }
.main-menu.stick .menu-img { display: none; }
.main-menu.stick .dropdown-menu { background: #bd1e35 none repeat scroll 0 0; padding-left: 10px; padding-right: 10px; position: absolute; min-width: 160px; z-index: 999; left:0; }
.main-menu.stick .dropdown-menu > li:hover a { font-weight: normal; }
.main-menu .menu_img { display: none; }
.main-menu.stick .menu_img { display: none !important; }
/*.main-menu ul > li.dropdown > a:hover .menu_img { display: block; }*/
.main-menu .menu_img { background: url("../img/main-down.png") no-repeat scroll center center rgba(0, 0, 0, 0); height: 25px; position: absolute; top: 39px; width: 113px; z-index: 9999; }
li.dropdown:hover { background: none repeat scroll 0 0 #bd1e35; color: #fff; }
li.dropdown:hover > a { color: #fff; }
li.dropdown:hover .menu_img { display: block; }
.stick ul.dropdown-menu { padding-top: 10px; padding-bottom: 0px; margin-bottom: 10px; }
.side_menu .ak { background-image: url("../img/main-left.png"); background-position: left 7px; background-repeat: no-repeat; background-size: 18px auto; display: block; height: 48px; left: -19px; position: absolute; top: -1px; width: 26px; z-index: 2147483647; }
.main-menu.stick .navbar-right li ul.dropdown-menu li:last-child a { border-bottom: none; }
.main-menu.stick ul.navbar-right .dropdown li:first-child { margin-left: 0; }
}
@media only screen and (min-width:200px) and (max-width:1199px) {
.small-container p { margin-bottom: 10px; }
.navbar-toggle { margin-right: 0; }
}
@media only screen and (min-width:768px) and (max-width:1199px) {
.banner-author { bottom: 15px; width: 350px; }
.banner-author h2 { font-size: 30px; margin-bottom: 0; }
nav.start-fix { left: 0px; right: 15px; }
.footer .nav > li > a { padding: 10px 8px; }
.main-menu.stick { right: 0; }
.main-menu.stick .navbar-right { right: 77px; }
}
@media only screen and (min-width:768px){
.caret { border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #fff;}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
.img-width::before,.img-width::after{ width:40px;}
}
@media only screen and (min-width:200px) and (max-width:991px) {
.small-container { width: 100%; }
.small-container .right-content img { display: inline-block; margin-bottom: 15px; }
.shadow { box-shadow: none; }
.owl-controls .owl-prev, .owl-controls .owl-next {
    background: #bd1e35 none repeat scroll 0 0;
    display: table;
    float: left;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
}
.owl-controls .fa.fa-chevron-left,.owl-controls .fa.fa-chevron-right {
    color: #fff;
    display: table-cell;
    font-size: 15px;
    vertical-align: middle;
}
.owl-controls .owl-nav {
    display: table;
    margin: 30px auto 0;
    min-width: 19px;
}
}
@media only screen and (min-width:1025px) {
.main-menu .navbar-nav > li:hover .dropdown-menu { display: block; }
.stick li.dropdown:hover > a { font-weight: bold; }
}
@media only screen and (min-width:200px) and (max-width:1024px) {
.item-hover { display: none; }
}
@media only screen and (min-width:200px) and (max-width:767px) {
.banner-author { bottom: 0; width: 100%; }
.banner-author h2 { font-size: 23px; margin-bottom: 0; }
.banner-author h3 { font-size: 18px; }
.page-header { margin: 25px 0; }
.desc,
.small-container p,
.news-single span.teaser { font-size: 16px; }
.page-header h2 { font-size: 25px; }
.page-header h3,
.news_list .header h3,
.news-single .header h3,
.name { font-size: 18px; }
.inner_cbQuickGoogleMap { height: 200px !important; }
.footer .col-md-2.col-sm-2.col-xs-12.text-center.pdg-nn { margin-bottom: 10px; }
.footer .col-md-5.pdg-nn:last-child { display: table; float: none; margin: 0 auto; min-width: 100px; width: auto; }
.small-container .right-content,
.footer.clearfix { text-align: center; }
/*nav-top*/
nav.start-fix { left: 0px; right: 0px; }
.navbar-brand { float: right; padding: 15px; }
.navbar-brand > img { width: 150px; }
.inner-header { height: 90px; }
.list-unstyled.top-small-menu { text-align: left; margin-left: 10px; margin-top: 2px; }
.list-unstyled.top-small-menu li { border-right: 0 none; display: block; line-height: inherit; }
/*.inner-header { height: 90px; }*/
.strip { width: 250px; }
.navbar-toggle { position: absolute; right: 0; top: 95px; }
.navbar-toggle span.text-uppercase { border-bottom: 1px solid #fff; border-top: 1px solid #fff; display: inline-block; padding: 5px; }
.navbar-collapse ul.navbar-right li { text-align: center; }
.navbar-collapse ul.navbar-right li:last-child a { border-bottom: 0; }
.navbar-collapse ul.navbar-right li a { margin: 0 15px; color: #fff !important; border-bottom: 1px solid; }
.navbar-collapse ul.navbar-right { background-color: #bd1e35; padding: 5px 0; }
.navbar-collapse ul.navbar-right .dropdown-menu > li > a { border-bottom: none; }
.menu-img,
.item-hover { display: none; }
.main-menu ul .hide-caret { display: block; }
li.open > a { font-weight: bold; }
.news .news-list-view .col-sm-6,
.team.clearfix { margin-bottom: 15px; }
.news_list .news-img-wrap,
.news_list,
.news_list a.more { float: none; text-align: center; }
.side_menu .ak { background-image: url("../img/main-down.png"); background-position: 15px 7px; background-repeat: no-repeat; background-size: 33px auto; display: block; height: 23px; left: -1px; position: absolute; top: 34px; width: 58px; z-index: 2147483647; }
.main-menu ul li ul.dropdown-menu { padding: 20px 0 0; }
.caret { border-left: 11px solid transparent; border-right: 11px solid transparent; border-top: 11px solid #fff;}
.team.clearfix { padding:0 15px;}

}
@media only screen and (min-width:200px) and (max-width:480px) {
.carousel-indicators { display: none; }
}
