{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:section name="Configuration">
    <flux:form id="home" label="Home" icon="">
      <flux:grid>
        <flux:grid.row>
          <flux:grid.column colPos="0" name="Slider" label="Slider" />
        </flux:grid.row>
        <flux:grid.row>
           <flux:grid.column colPos="1" name="Inhalt" label="Inhalt"/>
        </flux:grid.row>
           <flux:grid.row>
          <flux:grid.column colPos="2" name="map" label="Title"/>
        </flux:grid.row>
           <flux:grid.row>
          <flux:grid.column colPos="3" name="map" label="News"/>
        </flux:grid.row>
        <flux:grid.row>
          <flux:grid.column colPos="4" name="map" label="Google Map"/>
        </flux:grid.row>
      </flux:grid>
    </flux:form>
  </f:section>
    
  <f:section name="Content">
      
      <div class="container-fluid">    
	<div class="row">   
    	<div class="start banner clearfix">
            <f:render partial="PageObjects" section="Header" />

            <f:cObject typoscriptObjectPath="lib.content0"/>

        </div>
        <div class="border"></div>
        <div class="container">
            <div class="row">
            	<div class="small-container clearfix">
                	<f:cObject typoscriptObjectPath="lib.content1"/>
                </div>
               <f:cObject typoscriptObjectPath="lib.content2"/> 
              <f:cObject typoscriptObjectPath="lib.team"/>
              <f:cObject typoscriptObjectPath="lib.content3"/> 
            </div>
        </div>
        <div class="border"></div>
        <div class="map clearfix">
        	<f:cObject typoscriptObjectPath="lib.content4"/>
        </div>
      <f:render partial="PageObjects" section="Footer" />
     </div>
</div>
   
  </f:section>
</div>
