<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Navigation">
  
<v:page.menu entryLevel="0" expandAll="TRUE" useShortcutUid="FALSE" pageUid="2" classActive="active"  classCurrent="current" >
	<div class="menu-wrap">
		<ul class="list-unstyled text-lowercase">
			<f:if condition="{menu}">
				<f:for each="{menu}" as="MenuPage" iteration="Iteration">
					<li>
						<a href="{MenuPage.link}" >
							{f:if(condition: MenuPage.nav_title, then: MenuPage.nav_title, else: MenuPage.title)}
						</a>
						<v:page.resources.fal table="pages" field="media" uid="{MenuPage.uid}" as="images">
									{images -> v:iterator.first() -> v:variable.set(name: 'image')}
							<f:image class="menu-nico" src="{image.url}" alt="{image.alternative}{f:if(condition: image.description, then: ' {image.description}', else: '')}" />
						</v:page.resources.fal>
						
						
						
					</li>
				</f:for>
			</f:if>
		</ul>
	</div>
</v:page.menu>

  </f:section>
  </div>
